/* here we are using rem and 1rem = 16px by default unless user changes it */
/* styles for Navbar*/
.nav-ul{
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 0.3125rem;
  margin: 0rem;
  background-color: skyblue;
}
.nav-ul li{
  padding: 0.625rem;
}
.nav-ul li a {
  text-decoration: none;
  color: white;
  padding: 0.3125rem;
}
/* styles for right navbar */
.nav-ul-right{
  display: flex;
  list-style: none;
  flex-direction: row-reverse;
  padding: 0.3125rem;
  margin: 0rem;
  background-color: skyblue;
}
.nav-ul-right li{
  padding: 0.625rem;
}
.nav-ul-right li a {
  text-decoration: none;
  color: white;
  padding: 0.3125rem;
}
/* styles for image logo */

.logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  float: left;
  margin-top: 3px;
  margin-left: 10px;
}

/* styles for sign-up form */
.register, .product{
  margin-left: 30%;
}
/* styles for login form */
.login{
  margin-left: 30%;

}
.inputBox {
  padding: 7px;
  display: block;
  border: 1px solid skyblue;
  width: 300px;
  margin: 20px;
}

.appButton {
  margin: 20px;
  width: 150px;
  padding: 10px;
  background-color: skyblue;
  border: solid 1px;
  cursor: pointer;
}

/* styles for footer */
.footer{
  position: absolute;
  bottom: 0;
  background-color: skyblue;
  text-align: center;
  width: 100%;
}